#footer{
    background-color: black;
    padding-top: 100px ;
  
   .foot_padi{
    .fd_h1{
        padding-bottom: 50px;
    }
    .fd_h3{
        h4{
            
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            padding-top: 20px;
        }
    }
    .fd_h4{
        h4{
       
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            padding-top: 20px;
        }
    }
 .padding{
   
    padding-bottom: 50px;
    .fd_main{
        p{
         
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            padding-right: 50px;
        }
    }
    .fd_m2{
        .aa{
            
            a{
           
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                padding-bottom: 10px;
            }
        }
        .ab{
            a{
              
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                padding-bottom: 10px;
            }
        }
    }
    .fd_m_3{
        a{
        
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            padding-bottom: 10px;
            i{
                padding-right: 5px;
            }
        }
        p{
    
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            i{
                padding-right: 5px;
            }
        }
    }
    .fd_m_l {
        p{
            font-family: "Saira", sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            i{
                padding-right: 5px;
            }
            span{
                padding-left: 20px;
            }
        }
    }
 }
   }
  
}
