  
 nav{
    margin-top: 50px;
    border-bottom: 2px solid white;
 } 
  .menu_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: black;

  
       

        a{
         color: antiquewhite !important;
         padding: 0 20px !important;
          font-size: 20px;
          position: relative;
        
         &.active{
          color: tomato !important;
         }
          &::after{
            position: absolute;
            right: 0px;
            bottom: -30px;
            content: "";
            height: 2px;
            width: 100%;
            background: #8438ff;
            opacity: 0;
            
             transition: 0.5s;
           

            
          }
          &:hover::after{
            background-color: #ffff;
            
            opacity: 1;
            
          }
          
        }
        
    
    }
        
     .bggg{
      background-color:pink;
     } 
   
    .bu {
        
        
        
      
       input{
        color: #000;
        padding: 10px 20px;
        border-radius: 10px;
       }

    }
    
