#skill{

   
.skill_frist{
    border-top:2px solid rgba(252, 38, 120, 0.859) ;

}
.skill_md{
    margin-top: -30px;
    color: rgba(252, 38, 120, 0.859) ;
}

.skill_ed{
    border-top:2px solid rgba(252, 38, 120, 0.859) ;
   
    
}
.ski{
    margin-top: 10px;
   height: 80px;
   width: 80px;
   border-radius: 40px;
   border: 5px solid rgba(252, 38, 120, 0.859);
   p{
     margin-top: 17px;
     font-size: 20px;
    
   }
   
}
}